
.navbar-brand{
  font-size: 20px;
  font-weight: bold;
  // color: #777 !important;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  // animation: movedown 1s linear 1;
  // animation-duration: 1s;
  // visibility: hidden;
  // animation-fill-mode: forwards;
}
.active {
  color: #28a7e9;
}
.home{
  background: rgb(9,9,121);
  background: linear-gradient(90deg, rgba(9,9,121,1) 29%, rgba(0,160,255,1) 88%);
}
.team{
  background: rgb(49,79,210);
  background: linear-gradient(90deg, rgba(49,79,210,1) 16%, rgba(227,73,73,1) 87%);
}
.support{
  background: rgb(49,79,210);
  background: linear-gradient(90deg, rgba(49,79,210,1) 16%, rgba(229,105,218,1) 87%);
}
.about{
  background: rgb(49,79,210);
  background: linear-gradient(90deg, rgba(49,79,210,1) 16%, rgba(185,223,91,1) 87%);
}
.service{
  background: rgb(49,79,210);
  background: linear-gradient(90deg, rgba(49,79,210,1) 16%, rgba(59,204,210,1) 66%);
}
.navbar{
    //  background-color:#023b6d !important;
   
      // #2c71f6fb!important;
     color: #fff;
     position: fixed;
}
@keyframes movedown{
  0%{
    transform: translateY(-100px);
   visibility: visible;
  }
  100%{
    transform: translateY(0);
   visibility: visible;
  }
}
.nav-item{
  cursor: pointer;
}

.templatemo-nav {
  border-radius: 0;
  width: 100%;
  z-index: 1000;
 
}
// .navbar-default {
//   // background: #fff;
//   border: none;
//   box-shadow: none;
//   margin: 0 !important;
 
// }

// .header{
//   min-height: 20px;
//   padding-top: 18px;
//   padding-bottom: 10px;
//   background-color: black;
// }
// header .social-icon li a {
//   border: none;
//   width: 20px;
//   height: 20px;
//   line-height: 20px;
//   text-align: center;
// }
// .phoneText,.emailText,.meet-Links{
//   color: #fff;
// }
// .meet-Links{
//   margin-right: 10px;
// }
// header .emailText a {
//   color: #999;
//   font-weight: 600;
//   margin-left: 10px;
// }
// header .emailText a:hover{
//   color: aqua;
// }
// // .fa-icon{
// //   color: blue;
// // }
// header .fa {
//   color: #28a7e9;
// }
// header .social-icon {
//   text-align: right;
// }
// .social-icon {
//   position: relative;
//   padding: 0;
//   margin: 0;
// }
// header .social-icon li a {
//   border: none;
//   width: 20px;
//   height: 20px;
//   line-height: 20px;
//   margin-right: 10px;
//   text-align: center;
//   border-radius: 2px;
//     color: #fff;
// }


.navbar-default .navbar-nav li a {
  color: inherit;
  font-size: 1.4rem;
  opacity: 1;
  padding: 0.1em 0.55em;
  // font-weight: bold;

  // height: 70px;
  // line-height: 40px;
}
// .navbar-nav>li>a:hover {
//   color: #333;
//   background-color: transparent;
// }

.navbar-nav li a.nav-link {
  color:#fff ;
}
.navbar-nav li a.nav-link :focus, .navbar-nav li a.nav-link :hover {
  text-decoration: none;
 color: #28a7e9 !important;
}

 .navbar-collapse,  .navbar-form {
  border-color: #e7e7e7;
}
@media (min-width: 992px){
.col-md-5 {
    width: 41.66666667%;
}
}
@media (min-width: 768px){
.navbar-nav>li {
    float: left;
}
.navbar-right {
  float: right!important;
  margin-right: -15px;
}
.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
}
}
