
<nav class="navbar navbar-expand-sm navbar-light bg-light templatemo-nav">
    <div class="container">
    <a class="navbar-brand" >
     Constrction site
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

   
        <div class="collapse navbar-collapse sidenav" id="navbarSupportedContent">
         
            <ul class="navbar-nav ms-auto flex-nowrap">
        <li class="nav-item active">
          <a class="nav-link js-scroll-trigger" >
       HOME
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger"  (click)="scrollToElement('#about')">
         ABOUT
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger"  (click)="scrollToElement('#team')">
       CLIENTS
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger"  (click)="scrollToElement('#service')">
   SERVICE
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" (click)="scrollToElement('#portfolio')">
We Suport Techolgies!
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger"  (click)="scrollToElement('#contact')">
CONACT
            </a>
          </li>
      </ul>
  
    
    </div>
</div>
  </nav>
 