<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000" 
                class="footerheader">CONTACT  UniTechsort
                <span></span></h2>
            </div>
           
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight animated" data-wow-offset="50" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInRight;">
                <address>
                    <p class="address-title">UniTechsort</p>
                    <span class="addresstext">We are a solid group of IT professionals who assist in a distinctive style of strategizing to locate the best personnel for the business</span>
                    <p class="addresstext"><i class="fa fa-phone" ></i> +91-7981355200</p>
                    <p class="addresstext"><i class="fa fa-envelope-o"></i> Info@unitechsort.com</p>
                    <!--<p><i class="fa fa-map-marker"></i> 50, Thiruvoodal Street, Thiruvannamalai - 606 601.</p>-->
                </address>
                <ul class="social-icon">
                    <li><h4>WE ARE SOCIAL</h4></li>
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                    <!-- <li><a class="linkedin-bg" ><i class="fa fa-linkedin"></i></a></li> -->
                </ul>
            </div>
        </div>
    
</section>