<section id="portfolio">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h2 class="supportheader slideleft"  >We support <span>Technologies!</span></h2>
          </div>
       
<div class="container-fluid py-5 wow fadeInUp animated portfolioimage" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">

  <div class="imagesscroll">
    <div class="box">
      <div class="imgBx"><img src="https://images.unsplash.com/photo-1558993468-4f71e02a64b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=401&q=80" alt="" /></div>
      <div class="content">
        <h2>Title</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum mollitia rem facere nostrum illo distinctio officiis numquam quo ratione quidem ipsam sint consequuntur, ex minima similique fugit velit nobis at.</p>
        <a href="javascript:void(0)">Read More</a>
      </div>
    </div>
    <div class="box">
      <div class="imgBx"><img src="https://images.unsplash.com/photo-1558960765-b675e332ae35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=401&q=80" alt="" /></div>
      <div class="content">
        <h2>Title</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum mollitia rem facere nostrum illo distinctio officiis numquam quo ratione quidem ipsam sint consequuntur, ex minima similique fugit velit nobis at.</p>
        <a href="javascript:void(0)">Read More</a>
      </div>
    </div>
    <div class="box">
      <div class="imgBx"><img src="https://images.unsplash.com/photo-1558944812-bf848e1831a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="" /></div>
      <div class="content">
        <h2>Title</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum mollitia rem facere nostrum illo distinctio officiis numquam quo ratione quidem ipsam sint consequuntur, ex minima similique fugit velit nobis at.</p>
        <a href="javascript:void(0)">Read More</a>
      </div>
    </div>
  </div>
  
<!-- </div> -->
</div>

             </div>
          </div>
      
  
</section>