.supportheader{
    font-size: 32px;
padding-bottom: 40px;
margin: 0;
color: #fff;
font-weight: 600;

font-family: Roboto,sans-serif;
text-align: center;
}
#portfolio{
    // background-color:#0d0c22 ;
    background: rgb(71,84,174);
    background: linear-gradient(90deg, rgba(71,84,174,1) 23%, rgba(3,68,113,1) 61%);
    padding-top: 160px;
    padding-bottom: 100px;
    min-height: 600px;
}
.slideleft{
    animation: slideleft 1s linear forwards;
  }
  @keyframes slideleft{
    0%{
      transform: translate(100px);
      opacity: 0;
    }
    100%{
      transform: translate(0px);
      opacity: 1;
    }
  }