.aboutheader{
    font-size: 32px;
    padding: 10;
    margin: 0;
    color: #fff;
    font-weight: 600;
    // background: #fff;
    font-family: Roboto,sans-serif;
    text-align: center;
}
#about{
    padding-top: 160px;
    padding-bottom: 100px;
    min-height: 600px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 24%, rgba(109,2,82,1) 87%);
   }