<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- data-aos="fade-up" data-aos-duration="3000"   -->
                <h2 class=" aboutheader"  
              >About <span>US!</span></h2>
            </div>
             

      <div class="col-xl-4 " >
        <div class="card overflow-hidden" data-aos="fade-down" data-aos-duration="2000">
          <div class="card-content">
            <div class="card-body cleartfix">
              <div class="media align-items-stretch">
                <div class="align-self-center">
                  <i class="icon-pencil primary font-large-2 mr-2"></i>
                </div>
                <div class="media-body">
                  <h4>How we started:</h4>
                  <span> We are a group of team members with very well experienced, technology experts working in a different organization in especially working on IT Niche technology hiring on a Full-time employment basis. From past 4 years we came into the context that whatever the experience we have gained a knowledge, experience, sharing the ideas as a close connect from which we got an immerse thoughts to start a organization which can help the companies to find best needs. Especially our Clients have to feel that we are involved as their own team..
                  </span>
                </div>
              
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 ">
        <div class="card overflow-hidden" data-aos="fade-down" data-aos-duration="2000">
          <div class="card-content">
            <div class="card-body cleartfix">
              <div class="media align-items-stretch">
                <div class="align-self-center">
                  <i class="icon-pencil primary font-large-2 mr-2"></i>
                </div>
                <div class="media-body">
                  <h4>About Team:</h4>
                  <span>We are a team of individuals working in a different firm, specializing in full-time employment for IT niche technology professionals with extensive experience. Since four years ago, we have been in a situation where, despite our experiences, we have earned knowledge, expertise, and strong connections that have allowed us to share ideas and inspire ideas for organizations that may assist businesses in determining their greatest needs. Organization and clients, in particular, must feel as 
                    though we are a part of their own team.
                  </span>
                </div>
              
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 ">
        <div class="card overflow-hidden" data-aos="fade-down" data-aos-duration="2000">
          <div class="card-content">
            <div class="card-body cleartfix">
              <div class="media align-items-stretch">
                <div class="align-self-center">
                  <i class="icon-pencil primary font-large-2 mr-2"></i>
                </div>
                <div class="media-body">
                  <h4>Vision:</h4>
                  <span>With the help of our team of IT experts, we here to help the good 
                    reputed clients all over the India in finding the right talent through 
                    a unique strategy and have to think that we are the right choice for 
                    their business needs.
                 
                  </span>
                </div>
              
              </div>
            </div>
          </div>
        </div>
      </div>
  
         
         
        </div>
    </div>
</section>