.servicetext{
    color: #fff;
    font-size: .97222vw;
    line-height: 1.6;
    margin-top: 1.2vw;
   
   
}
.seriviceicon{
    font-size: 20px;
   color: #fff;
}
#service{
    // background-image: linear-gradient(90deg, #009FFD 
    // , #2A2A72 ); 
    // background-color: #EA6A47;
    // background-color: #ff991f;
    background: rgb(49,79,210);
background: linear-gradient(90deg, rgba(49,79,210,1) 16%, rgba(59,204,210,1) 66%);
    padding-top: 160px;
    padding-bottom: 100px;
    min-height: 600px;
}
.serviceheader{
font-size: 32px;
padding-bottom: 40px;
margin: 0;
color: #fff;
font-weight: 600;

font-family: Roboto,sans-serif;
text-align: center;
}