<section id="team">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h2 class="teamheader" data-aos="flip-up" data-aos-duration="2000" ><span>AWESOME</span> Clients!</h2>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 " >
              <div class="team-wrapper" >
                  <!-- <img src="images/member-2.png" class="img-responsive" alt="team img 1"> -->
                      <div class="team-des">
                          <h4 class="teamsubheader">Croyant Techologies!</h4>
                          <span>DB Manage services</span>
                          <p class="teamtext">CROYANT SOFTWARE TECHNOLOGIES drives business improvement through innovative, affordable solutions that add value to your business.</p>
                      </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 "  >
              <div class="team-wrapper" >
                  <!-- <img src="images/member-3.jpg" class="img-responsive" alt="team img 2"> -->
                      <div class="team-des">
                          <h4 class="teamsubheader">RayTex IT Services</h4>
                          <span>Product Development</span>
                          <p class="teamtext">At Raytex, we offer end-to-end software development services with a vision to help you improve the way you do your business and service your clients.
</p>
                      </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 " >
              <div class="team-wrapper" >
                  <!-- <img src="images/member-4.jpg" class="img-responsive" alt="team img 3"> -->
                      <div class="team-des">
                          <h4 class="teamsubheader">Jarus Techologies</h4>
                          <span>Product Development</span>
                          <p class="teamtext">Jarus accelerates digital transformation of business processes. Jarus Policy Admin System™ lets insurers introduce new products quickly and manage them effortlessly.</p>
                      </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 " >
            <div class="team-wrapper" >
              <!-- data-aos="flip-up" data-aos-duration="2000" -->
                <!-- <img src="images/member-4.jpg" class="img-responsive" alt="team img 3"> -->
                    <div class="team-des">
                        <h4 class="teamsubheader">Jarus Techologies</h4>
                        <span>Product Development</span>
                        <p class="teamtext">Jarus accelerates digital transformation of business processes. Jarus Policy Admin System™ lets insurers introduce new products quickly and manage them effortlessly.</p>
                    </div>
            </div>
        </div>
      </div>
  </div>
</section>