#home {
     
    background-size: cover;
    padding-top: 160px;
    padding-bottom: 100px;
    min-height: 650px;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  
    // background-color: #3349FF !important;
    background-color: #023b6d;

    color: #fff;
 

}
.hometext{
    visibility: visible; 
    animation-delay: 0.9s; 
    animation-name: fadeIn;
}
#home h1 {
    font-weight: 300;
    font-size: 70px;
    padding-bottom: 10px;
    line-height: 78px;
    // visibility: visible;
    // animation-delay: 0.9s;
    // animation-name: fadeIn;

}
.element {
    height: 60px;
    font-size: 16px;
    color: #5499C7;
    opacity: 0;
}
#home .btn {
    background: transparent;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    width: 180px;
    height: 60px;
    padding-top: 18px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#home h1 span {
    color: #28a7e9;
    font-weight: bold;
}
#home .btn:hover {
    background: #28a7e9;
    border-color: transparent;
}
.slideleft{
    animation: slideleft 1s linear forwards;
  }
  @keyframes slideleft{
    0%{
      transform: translate(100px);
      opacity: 0;
    }
    100%{
      transform: translate(0px);
      opacity: 1;
    }
  }
  .element{
    animation-delay: 1s;
  }
  .wesupportbtn{
    animation-delay: 2s;
  }

