



<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="slideleft hometext" >You can use an eraser on the drafting table on <span>Construnction Site</span></h1>
                <div class="element slideleft">whatever good things we build end up bilding up</div>
                <a data-scroll=""  class="btn btn-default wow fadeInUp animated wesupportbtn slideleft" >GET STARTED</a>
            </div>
            <div class="col-md-offset-2 col-md-4">
           
                <marquee behavior="" Height="400px"  direction="up" scroll  
                onmouseover="this.setAttribute('scrollamount', 0, 0);this.stop();" 
                onmouseout="this.setAttribute('scrollamount', 3, 0);this.start();"
                scrollamount="10"  loop=""
                vspace=0 class="marq">

                    <img src= 
                    'https://source.unsplash.com/800x600/?nature' class="flowImg">&nbsp;
                    <img src='https://source.unsplash.com/800x600/?car' class="flowImg">&nbsp;
                    
                        <img src= 
                        'https://source.unsplash.com/800x600/?moto' class="flowImg">&nbsp;
                        <img 
                        src='https://source.unsplash.com/800x600/?fantasy' class="flowImg">&nbsp;
                        
                    </marquee>       
               
            </div>
          
        </div>
    </div>
</section>









