



<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="slideleft hometext" >You can use an eraser on the drafting table on <span>Construnction Site</span></h1>
                <div class="element slideleft">whatever good things we build end up bilding up</div>
                <a data-scroll=""  class="btn btn-default wow fadeInUp animated wesupportbtn slideleft" >GET STARTED</a>
            </div>
        </div>
    </div>
</section>









